.carousel {
  padding: 50px 0;
  overflow: hidden;
}

.carousel__wrapper {
  padding-top: 50px;
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll 60s linear infinite;
}

.carousel:hover .carousel__wrapper {
  animation-play-state: paused;
}

.carousel__card {
  flex: 0 0 400px;
  height: 400px;
  background-color: aqua;
  text-align: center;
  align-content: center;
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
  transition: transform 0.3s ease;
}

.carousel__card:hover {
  transform: scale(1.05);
}

/* Ключевая анимация */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 850px) {
  .carousel__card {
    flex: 0 0 300px;
    height: 300px;
  }
}
  

@media (max-width: 500px) {
    .carousel__card {
    flex: 0 0 250px;
    height: 250px;
  }
}