.courses {
  padding: 50px 0;
}

.courses__date {
  font-weight: 900;
  line-height: normal;
  font-size: 42px;
  color: var(--dark-link);
}

.courses__list {
  display: flex;
  flex-direction: column;
}

.courses__item {
  max-width: 1300px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 50px;
  margin: 0 auto;
  margin-top: 40px;
}

.courses__company {
  color: var(--dark-link);
}

.courses__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.courses__profession {
  font-weight: 700;
  font-size: 24px;
}

@media (max-width: 1250px) {
  .courses__item {
    grid-template-columns: 1fr 3fr;
    column-gap: 30px;
  }
}

@media (max-width: 1000px) {
  .courses__item {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

@media (max-width: 750px) {}

@media (max-width: 450px) {}