.experience {
  padding: 50px 0;
}

.experience__date {
  font-weight: 900;
  line-height: normal;
  font-size: 42px;
  color: var(--light-green);
}

.experience__list {
  display: flex;
  flex-direction: column;
}

.experience__item-year {
  max-width: 1300px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 50px;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 30px;
  border-bottom: 3px solid var(--light-green);
}

.experience__company {
  color: var(--light-green);
}

.experience__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.experience__profession {
  font-weight: 700;
  font-size: 24px;
}

.experience__work-list {
  max-width: 950px;
}

.experience__freelance-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

@media (max-width: 1250px) {
  .experience__item-year {
    grid-template-columns: 1fr 3fr;
    column-gap: 30px;
  }
}

@media (max-width: 1000px) {
  .experience__item-year {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

@media (max-width: 750px) {
  .experience__item {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }
}

@media (max-width: 450px) {
    .experience__item {
    font-size: 14px;
  }
}

