:root {
  --white: #fff;
  --dark-black: #05030F;
  --light-black: #223041;
  --violet: #6F3FEC;
  --light-blue: #53C6E8;
  --yellow: #F0FC35;
  --light-purple: #CD06FF;
  --dark-bg-line: #253B69;
  --blue: #2668FF;
  --dark-link: #869FBD;
}