:root {
  --white: #fff;
  --dark-black: #05030F;
  --dark: #322d3a;
  --light-black: #223041;
  --grey-black: #252830;
  --violet: #6F3FEC;
  --dark-violet: #4E3CC8;
  --light-blue: #53C6E8;
  --yellow: #F0FC35;
  --light-purple: #CD06FF;
  --dark-bg-line: #253B69;
  --blue: #2668FF;
  --dark-link: #869FBD;
  --light-green: #25B0A6;
  --light-grey: #aaa;
  --light-coral: #ff8080;
  --coral: #ff5b5b;
  --footer-bg: #121424;
  --footer-btn: #888;
  --hover: #460854;
  --active: #6D0885;
  --bg-github: #0C0C12;

  --go-main-bg: #18111A;
}